IMPORT LIBRERIE E DATASET POLLUTANT TRANSFERS

In [1]:
#import dataset e librerie 

import numpy as np
import pandas as pd

df = pd.read_csv('Waste_Transfers_new.csv' ,sep =';')


df.head()

,FacilityID,NationalID,FacilityName,StreetName,BuildingNumber,PostalCode,City,CountryName,Lat,Long,...,MainIASectorName,MainIAActivityName,MainIASubActivityName,MainActivityIndicator,ReportingYear,WasteTypeName,WasteTreatmentName,MethodBasisName,Quantity,WasteHandlerPartyName
0,4659,06K000239,"ArcelorMittal Poland S.A., Oddzia? w Krakowie",Ujastek 1,NaN,30-969,Krak�w,Poland,"50,080333","20,092361",...,Productiona and processing of metals,Metal ore (including sulphide ore) roasting or...,NaN,False,2013,Non-hazardous waste,Destined for recovery,Measured,593000,NaN
1,4659,06K000239,"ArcelorMittal Poland S.A., Oddzia? w Krakowie",Ujastek 1,NaN,30-969,Krak�w,Poland,"50,080333","20,092361",...,Productiona and processing of metals,Metal ore (including sulphide ore) roasting or...,NaN,False,2013,Non-hazardous waste,Destined for disposal,Measured,"35,1",NaN
2,4659,06K000239,"ArcelorMittal Poland S.A., Oddzia? w Krakowie",Ujastek 1,NaN,30-969,Krak�w,Poland,"50,080333","20,092361",...,Productiona and processing of metals,Metal ore (including sulphide ore) roasting or...,NaN,False,2013,Hazardous waste within country,Destined for recovery,Measured,484,NaN
3,4659,06K000239,"ArcelorMittal Poland S.A., Oddzia? w Krakowie",Ujastek 1,NaN,30-969,Krak�w,Poland,"50,080333","20,092361",...,Productiona and processing of metals,Metal ore (including sulphide ore) roasting or...,NaN,False,2013,Hazardous waste within country,Destined for disposal,Measured,1590,NaN
4,5119,08O000439,Grupa Azoty Zak?ady Azotowe K?dzierzyn Sp�?ka ...,Mostowa 30a,NaN,47-220,K?dzierzyn-Ko?le,Poland,"50,304717","18,257825",...,Chemical industry,Chemical installations for the production on a...,NaN,False,2013,Non-hazardous waste,Destined for recovery,Measured,120000,NaN

In [2]:
df.tail()

,FacilityID,NationalID,FacilityName,StreetName,BuildingNumber,PostalCode,City,CountryName,Lat,Long,...,MainIASectorName,MainIAActivityName,MainIASubActivityName,MainActivityIndicator,ReportingYear,WasteTypeName,WasteTreatmentName,MethodBasisName,Quantity,WasteHandlerPartyName
765893,74753,14-80-56175410000,Vopelius Chemie AG Gesch�ftsbereich Galvano Ch...,Torgauer Stra�e,76 d,04318,Leipzig,Germany,"51,34643204","12,42230913",...,Chemical industry,Chemical installations for the production on a...,- Salts,True,2009,Hazardous waste within country,Destined for recovery,Measured,"66,9",NaN
765894,46908,15170,MKM Mansfelder Kupfer und Messing Kazakmyhs GmbH,Lichtl�cherberg 40,-,06333,Hettstedt,Germany,"51,62320911","11,49309363",...,Productiona and processing of metals,Installations:,"- For the smelting, including the alloying, of...",True,2009,Non-hazardous waste,Destined for disposal,Calculated,2690,NaN
765895,46908,15170,MKM Mansfelder Kupfer und Messing Kazakmyhs GmbH,Lichtl�cherberg 40,-,06333,Hettstedt,Germany,"51,62320911","11,49309363",...,Productiona and processing of metals,Installations:,"- For the smelting, including the alloying, of...",True,2009,Non-hazardous waste,Destined for recovery,Measured,351,NaN
765896,46908,15170,MKM Mansfelder Kupfer und Messing Kazakmyhs GmbH,Lichtl�cherberg 40,-,06333,Hettstedt,Germany,"51,62320911","11,49309363",...,Productiona and processing of metals,Installations:,"- For the smelting, including the alloying, of...",True,2009,Hazardous waste within country,Destined for disposal,Measured,232,NaN
765897,46908,15170,MKM Mansfelder Kupfer und Messing Kazakmyhs GmbH,Lichtl�cherberg 40,-,06333,Hettstedt,Germany,"51,62320911","11,49309363",...,Productiona and processing of metals,Installations:,"- For the smelting, including the alloying, of...",True,2009,Hazardous waste within country,Destined for recovery,Measured,855,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765898 entries, 0 to 765897
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   FacilityID              765898 non-null  int64
 1   NationalID              765898 non-null  object
 2   FacilityName            765814 non-null  object
 3   StreetName              759441 non-null  object
 4   BuildingNumber          604582 non-null  object
 5   PostalCode              765765 non-null  object
 6   City                    765823 non-null  object
 7   CountryName             765898 non-null  object
 8   Lat                     765898 non-null  object
 9   Long                    765898 non-null  object
 10  CompetentAuthorityName  765898 non-null  object
 11  MainIAActivityCode      765898 non-null  object
 12  MainIASectorName        765898 non-null  object
 13  MainIAActivityName      765898 non-null  object
 14  MainIASubActivityName   118268 non-null  object
 15  MainActivityIndicator   765898 non-null  bool
 16  ReportingYear           765898 non-null  int64
 17  WasteTypeName           765898 non-null  object
 18  WasteTreatmentName      765898 non-null  object
 19  MethodBasisName         765898 non-null  object
 20  Quantity                765541 non-null  object
 21  WasteHandlerPartyName   43853 non-null   object
dtypes: bool(1), int64(2), object(19)
memory usage: 123.4+ MB

In [7]:
df['WasteTypeName'].value_counts()

Hazardous waste within country     415757
Non-hazardous waste                303595
Hazardous waste outside country     46546
Name: WasteTypeName, dtype: int64

In [8]:
df['WasteTreatmentName'].value_counts()

Destined for recovery    428023
Destined for disposal    337543
CONFIDENTIAL                332
Name: WasteTreatmentName, dtype: int64

In [9]:
df['MethodBasisName'].value_counts()

Measured        687871
Estimated        39673
Calculated       38022
CONFIDENTIAL       332
Name: MethodBasisName, dtype: int64

In [10]:
df['WasteHandlerPartyName'].value_counts()

CONFIDENTIAL                                  790
ABRG GmbH                                     399
. (.)                                         365
Chemviron Carbon                              287
Fernwarme Wien  GmbH                          272
                                             ...
Fred Prinsen B.V.                               1
RD Recycling Deutschland GmBH (51727/1/KD)      1
WOS HAUTRAGE - sa                               1
ABFALLWIRTSCHAFTSZENTRUM WIRMSTHAL              1
R&L RECYCLING                                   1
Name: WasteHandlerPartyName, Length: 9849, dtype: int64

In [16]:
#trasformo quantità di inquinante misurato in kg in float usando una funzione lambda

df['Quantity'].apply(lambda x: float(x.replace('','.')))

ValueError: could not convert string to float: '.5.9.3.0.0.0.'